<%- include("header") -%>

<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quas iusto impedit illo velit enim, ipsum corporis atque? Maxime enim voluptatibus veritatis. Porro, inventore? Culpa nemo necessitatibus molestiae eveniet voluptatum eius ducimus.</p>

<%- include("footer") -%>